/*必须引入全局CSS样式*/
@import '~@angular/material/core/theming/prebuilt/deeppurple-amber.css';

/*如果需要md-icon需要引入*/
@import '~https://fonts.googleapis.com/icon?family=Material+Icons';

body {
  margin: 0;
  font-family: Roboto, sans-serif;
}

* {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-20 {
  font-size: 20px;
}

md-sidenav {
  width: 270px;
}

.detail-content img {
  cursor: pointer;
  height: auto;
  max-width: 100%;
  vertical-align: middle;
}